- if current_user.role != 'hydroobserver'
  = render 'synoptic_observations/tabs'
.container
  %h3 Телеграммы о снегомерных съемках HHSS
  = will_paginate
  %table{ class: 'table table-hover' }
    %thead
      %tr
        %th Дата наблюдения
        %th Дата ввода
        %th Пункт снегосъемки
        %th Телеграмма
    %tbody
      - name_snow_points = SnowPoint.snow_point_names_as_array
      - @snow_observations.each do |s_o|
        %tr
          %td= s_o.date_observation.strftime('%d-%m-%Y')
          %td= s_o.created_at.localtime.strftime('%d-%m-%Y %H:%M:%S')
          %td= name_snow_points[s_o.snow_point_id]
          %td= link_to s_o.telegram, snow_observation_path(s_o)
  = will_paginate
