%tr
  %td= donetsk_climate_set.dd
  %td= donetsk_climate_set.t_avg
  %td= donetsk_climate_set.t_max
  %td= donetsk_climate_set.year_max
  %td= donetsk_climate_set.t_min
  %td= donetsk_climate_set.year_min
  %td= link_to "Изменить", edit_donetsk_climate_set_path(donetsk_climate_set.id)