.container
  <input id="daily-submit" type="submit" value="Сохранить" form="daily2-form">
  = form_for @bulletin, html: { id: 'daily2-form' } do |form|
    - rd_1 = (@bulletin.report_date+1.day).strftime("%d.%m")
    - rd_2 = (@bulletin.report_date+2.days).strftime("%d.%m")
    - rd_3 = (@bulletin.report_date+3.days).strftime("%d.%m")
    - fsp1 = @bulletin.forecast_sea_period.split('@')[0]
    - fsp2 = @bulletin.forecast_sea_period.split('@')[1]
    - fp1 = @bulletin.forecast_period.split('@')[0]
    - fp2 = @bulletin.forecast_period.split('@')[1]
    %table{ class: 'table table-hover' }
      %tr
        %th Отчетная дата
        %td= form.date_field :report_date, value: @bulletin.report_date.strftime("%Y-%m-%d")
      %tr
        %th Номер бюллетеня
        %td= form.text_field :curr_number, size: 8
      %tr
        %th Сезон
        %td= @bulletin.summer ? "Лето" : "Зима"
      = hidden_field_tag :summer, @bulletin.summer
      %tr
        %th Тип бюллетеня
        %td= form.text_field :bulletin_type, readonly: true
      %tr
        %th Предупреждения об ОЯ и НЯ
        %td= form.text_area :storm, cols: "30", rows: "5"
      %tr
        %th Прогноз погоды на сутки в городе Донецке
        %td= form.text_area :forecast_day_city, cols: "30", rows: "5"
      %tr
        %th Прогноз погоды на сутки в ДНР
        %td= form.text_area :forecast_day, cols: "30", rows: "5"
      %tr
        %th Периодный прогноз в городе Донецке на #{rd_2}
        %td= form.text_area :forecast_sea_period, cols: "30", rows: "7", name: "bulletin[forecast_sea_period][]", id: "fsp1", value: fsp1
      %tr
        %th Периодный прогноз в городе Донецке на #{rd_3}
        %td= form.text_area :forecast_sea_period, cols: "30", rows: "7", name: "bulletin[forecast_sea_period][]", id: "fsp2", value: fsp2
      %tr
        %th Периодный прогноз в ДНР на #{rd_2}
        %td= form.text_area :forecast_period, cols: "30", rows: "7", name: "bulletin[forecast_period][]", id: "fp1", value: fp1
      %tr
        %th Периодный прогноз в ДНР на #{rd_3}
        %td= form.text_area :forecast_period, cols: "30", rows: "7", name: "bulletin[forecast_period][]", id: "fp2", value: fp2
      %tr
        %th Синоптик
        %td= form.select :synoptic1, options_for_select(Bulletin.synoptic_list, @bulletin.duty_synoptic)
      %tr
        %th Обзор НЯ и ОЯ прошедших суток
        %td= form.text_area :forecast_advice, cols: "30", rows: "5"
      %tr
        %th Гидрологический обзор
        %td= form.text_area :forecast_orientation, cols: "30", rows: "5"
      %tr
        %th Обзор сложившихся агрометеорологических НЯ и ОЯ
        %td= form.text_area :forecast_sea_day, cols: "30", rows: "5"
      %tr
        %th Информация по мониторингу загрязнения окружающей среды
        %td= "МАЭД на 09:00 #{@bulletin.report_date.strftime("%Y-%m-%d")} составляет #{(@bulletin.storm_hour.to_f/100).to_f.round(2)}-#{(@bulletin.storm_minute.to_f/100).round(2)} мкЗв/ч"
        %td= hidden_field_tag :storm_hour, (@bulletin.storm_hour.to_f/100).to_f.round(2)
        %td= hidden_field_tag :storm_minute, (@bulletin.storm_minute.to_f/100).to_f.round(2)
      
    - report_date_prev = (@bulletin.report_date - 1.day)
    %h3= "Метеорологические данные"
    %table{class: "table table-hover"}
      %th 
      %td
        %tr
          %th Название метеостанции
          %th Максимальная вчера днем
          %th Минимальная сегодня ночью
          %th= "Средняя за сутки #{report_date_prev.day} #{I18n.l(report_date_prev, format: "%B")}"
          %th Количество осадков за сутки (мм) день
          %th Количество осадков за сутки (мм) ночь
          %th= @bulletin.summer ? "Минимальная температура почвы" : "Высота снежного покрова (см)"
          %th= @bulletin.summer ? "Минимальная относительная влажность воздуха (%)" : "Глубина промерзания (см)"
          %th Максимальная скорость ветра (м/с)
          %th{width: '200px'} Явления погоды
        - m_d = []
        - m_d = @bulletin.meteo_data.split(";") if @bulletin.meteo_data.present?
        - stations = ["Дебальцево", "Донецк", "Амвросиевка", "Волноваха", "Мариуполь", "Седово"]
        -# stations = ["Донецк", "Дебальцево", "Амвросиевка", "Седово", "Артемовск", "Мариуполь"]
        - station_ids = [3,1,2,4,5,10]
        -# - station_ids = [1,3,2,10,4,5]
        -# station_ids = [1,3,2,10,7,5]
        - stations.each.with_index do |s, j|
          %tr
            %td #{s}
            - (0..8).each do |i|
              %td= text_field_tag "val_"+(9*j+i+1).to_s, m_d[9*j+i].present? ? m_d[9*j+i] : '', size: 4, title: i == 4 ? "День: "+@precipitation_day_night[station_ids[j]]['day'].to_s+"; Ночь: "+@precipitation_day_night[station_ids[j]]['night'].to_s+";" : nil
    - c_d = []
    - c_d = @bulletin.climate_data.split(";") if @bulletin.climate_data.present?
    %h3= "Климатические данные по г. Донецку"
    %table{class: "table table-hover"}
      %tr
        %th Средняя за сутки температура воздуха #{report_date_prev.day} #{I18n.l(report_date_prev, format: "%B")}
        %td= text_field_tag :avg_day_temp, c_d[0].present? ? c_d[0] : '', size: 5
        %td
      %tr
        %th Максимальная температура воздуха #{report_date_prev.day} #{I18n.l(report_date_prev, format: "%B")}
        %th Значение
        %th Отмечалась в
      %tr
        %td      
        %td= text_field_tag :max_temp, c_d[1].present? ? c_d[1] : '', size: 5
        %td= text_field_tag :max_temp_year, c_d[2].present? ? c_d[2] : '', size: 8
      %tr
        %th Минимальная температура воздуха #{@bulletin.report_date.day} #{I18n.l(@bulletin.report_date, format: "%B")}
        %th Значение
        %th Отмечалась в
      %tr
        %td
        %td= text_field_tag :min_temp, c_d[3].present? ? c_d[3] : '', size: 5
        %td= text_field_tag :min_temp_year, c_d[4].present? ? c_d[4] : '', size: 8
      = render partial: 'chief'
      = render partial: 'responsible'
    %br
= link_to 'Список', '/bulletins/list?bulletin_type=daily2'
