- m_d = []
- m_d = @bulletin.meteo_data.split(";") if @bulletin.meteo_data.present?
.container
  = form_for @bulletin do |form|
    %table{class: "table table-hover"}
      %tr
        %th Тип
        %td= form.text_field :bulletin_type, readonly: true
      %tr
        %th Отчетная дата
        %td= form.text_field :report_date, readonly: true
      %tr
        %th Номер бюллетеня
        %td= form.number_field :curr_number, size: 8
      %table{class: "table table-hover"}
        %th
        %th Класс пожарной опасности
        %td
          %tr
            %th Города и районы ДНР
            %th= "Фактический #{@bulletin.report_date.day} #{I18n.l(@bulletin.report_date, format: "%B")}"
            %th= "Ожидаемый #{(@bulletin.report_date+1.day).day} #{I18n.l(@bulletin.report_date+1.day, format: "%B")}"
            %th= "Ожидаемый #{(@bulletin.report_date+2.day).day} #{I18n.l(@bulletin.report_date+2.day, format: "%B")}"
            %th= "Ожидаемый #{(@bulletin.report_date+3.day).day} #{I18n.l(@bulletin.report_date+3.day, format: "%B")}"
          - m_d = []
          - m_d = @bulletin.meteo_data.split(";") if @bulletin.meteo_data.present?
          - Bulletin::REGIONS.each.with_index do |s, j|
            %tr
              %td #{s}
              - (0..3).each do |i|
                %td= text_field_tag "val_"+(4*j+i+1).to_s, m_d[4*j+i].present? ? m_d[4*j+i] : '', size: 4
      = render partial: 'responsible'
      = render partial: 'chief'
    %br
    = submit_tag "Сохранить"
= link_to "Список", "/bulletins/list?bulletin_type=radiation"