.container
  = form_for @bulletin do |form|
    %table{class: "table table-hover"}
      %tr
        %th Отчетная дата
        %td= form.text_field :report_date, readonly: true
      %tr
        %th Тип
        %td= form.text_field :bulletin_type, readonly: true
      %tr
        %th Час
        %td= form.text_field :storm_hour
      %tr
        %th Минуты
        %td= form.text_field :storm_minute
      %tr
        %th Заголовок
        %td= form.text_field :curr_number, value: @bulletin.curr_number.present? ? @bulletin.curr_number : "ШТОРМОВОЕ ПРЕДУПРЕЖДЕНИЕ №"
      %tr
        %th Текст
        %td= form.text_area :storm, cols: "30", rows: "5"
      %tr
        %th Синоптик
        %td= form.select :synoptic1, options_for_select(Bulletin.synoptic_list, @bulletin.synoptic1)
      = render partial: 'chief'
    %br
    = submit_tag "Сохранить"
= link_to "Список", "/bulletins/list?bulletin_type=#{@bulletin.bulletin_type}"    