%h1 Изменить бюллетень
- case @bulletin.bulletin_type
  - when 'daily'
    = render 'form'
  - when 'storm', 'sea_storm', 'rw_storm', 'fire_storm'
    = render 'storm_form'
  - when 'holiday'
    = render 'holiday_form'
  - when 'tv'
    = render 'tv_form'
  - when 'radiation'
    = render 'radiation_form'
  - when 'radiation2'
    = render 'radiation2_form'
  - when 'avtodor'
    = render 'avtodor_form'
  - when 'radio'
    = render 'radio_form'
  - when 'radio2'
    = render 'radio2_form'
  - when 'dte'
    = render 'dte_form'
  - when 'fire'
    = render 'fire_form'
  - when 'clarification'
    = render 'clarification_form'
  - when 'bus_station'
    = render 'bus_station_form'
  - when 'hydro'
    = render 'hydro_form'
  - when 'hydro2'
    = render 'hydro2_form'
  - when 'alert', 'warning'
    = render 'alert_form'
  - when 'sea'
    = render 'sea_form'
  - when 'railway'
    = render 'railway_form'
  -# else
    = render 'sea_form'
