- if (current_user.role != 'guest') && (current_user.role != 'hydroobserver')
  = render 'bulletins/tabs'
.container
  %h3= Bulletin::BULLETIN_TYPES[@bulletin_type]
  - if %w[vip].index(current_user.role)
    - case @bulletin_type
      - when 'sea', 'daily', 'daily2'
        = link_to 'Создать (Лето)',
          "new_bulletin?variant=summer&bulletin_type=#{@bulletin_type}"
        = link_to '  Создать (Зима)',
          "new_bulletin?variant=winter&bulletin_type=#{@bulletin_type}"
      - else
        = link_to 'Создать', "new_bulletin?bulletin_type=#{@bulletin_type}"
  - elsif %w[hydro].index(current_user.role)
    - if %w[hydro warning alert].index(@bulletin_type)
      = link_to 'Создать', "new_bulletin?bulletin_type=#{@bulletin_type}"
  -# - elsif %w[clerk].index(current_user.role)
  -#   - if @bulletin_type == 'inquiry'
  -#     = link_to 'Создать', "new_bulletin?bulletin_type=#{@bulletin_type}"
  %br
  = will_paginate
  %table{ class: 'table table-hover' }
    %thead
      %tr
        %th Дата
        %th Номер
        - if @bulletin_type == 'daily'
          - if @variant.present?
            %th Бюллетень
          - else
            %th Две страницы
            %th Одна страница
            %th Без метеоданных
        - elsif @bulletin_type == 'daily2'
          %th Весь
          %th Без метеоданных
          %th Одна страница
        - elsif @bulletin_type == 'sea_storm'
          %th Предупреждение
          - if current_user.role != 'guest'
            %th Оповещение
        - elsif @bulletin_type == 'storm'
          %th= ''
        - elsif @bulletin_type == 'fire'
          %th Полный
          %th Сокращенный
        - elsif @bulletin_type == 'inquiry'
          %th Документ
          %th= ''
        - else
          %th= ''
        - if %w[vip].index(current_user.role)
          %th= ''
          %th= ''
    %tbody
      - @bulletins.each do |b|
        - variant = ''
        - if (b.bulletin_type == 'sea') || (b.bulletin_type == 'daily') || (b.bulletin_type == 'daily2')
          - variant = b.summer ? ' (Лето)' : ' (Зима)'
        %tr
          %td= b.report_date.strftime('%d-%m-%Y')
          %td= b.curr_number + variant
          - if @bulletin_type == 'daily'
            - if @variant == 'one_page'
              %td= link_to 'Просмотреть',
                "#{b.id}/bulletin_show.pdf?variant=one_page"
            - elsif @variant == 'short'
              %td= link_to 'Просмотреть',
                "#{b.id}/bulletin_show.pdf?variant=short"
            - else
              %td= link_to 'Просмотреть',
                "#{b.id}/bulletin_show.pdf?variant=two_pages"
              %td= link_to 'Просмотреть',
                "#{b.id}/bulletin_show.pdf?variant=one_page"
              %td= link_to 'Просмотреть',
                "#{b.id}/bulletin_show.pdf?variant=short"
          - elsif @bulletin_type == 'daily2'
            %td= link_to 'Просмотреть',
              "#{b.id}/bulletin_show.pdf?variant=all_pages"
            %td= link_to 'Просмотреть',
              "#{b.id}/bulletin_show.pdf?variant=short"
            %td= link_to 'Просмотреть',
                "#{b.id}/bulletin_show.pdf?variant=one_page"
          - elsif @bulletin_type == 'sea_storm'
            %td= link_to 'Просмотреть',
              "#{b.id}/bulletin_show.pdf?variant=warning"
            - if current_user.role != 'guest'
              %td= link_to 'Просмотреть',
                "#{b.id}/bulletin_show.pdf?variant=notification"
          - elsif @bulletin_type == 'storm'
            %td= link_to 'Просмотреть',
              "#{b.id}/bulletin_show.pdf?variant=warning"
          - elsif @bulletin_type == 'fire'
            %td= link_to 'Просмотреть', "#{b.id}/bulletin_show.pdf?variant=full"
            %td= link_to 'Просмотреть', "#{b.id}/bulletin_show.pdf?variant=short"
          - elsif @bulletin_type == 'inquiry'
            -# %td= link_to 'Просмотреть', "#{b.id}/bulletin_show.pdf"
            %td= b.picture.present? ? (link_to "Просмотреть", '/'+b.picture): nil
            %td= link_to 'Удалить', b, method: :delete, data: { confirm: 'Вы уверены?' }
          - elsif @bulletin_type == 'autodor'
            %td= link_to 'Просмотреть', "#{b.id}/bulletin_show.pdf"
            - if current_user.role == 'technicist'
              %td= link_to 'Отправить письмо', "#{b.id}/bulletin_via_email"
          - else
            %td= link_to 'Просмотреть', "#{b.id}/bulletin_show.pdf"
          - if %w[vip].index(current_user.role) || (current_user.role == 'hydro' && %w[hydro warning].index(@bulletin_type))
            %td= link_to 'Изменить', edit_bulletin_path(b.id)
            %td= link_to 'Удалить', b, method: :delete,
              data: { confirm: 'Вы уверены?' }
  = will_paginate
