- case @bulletin.bulletin_type
  - when 'dte'
  %h3{ align: :center } Создать прогноз для Донбасстеплоэнерго
  = render partial: 'dte_form'
  - when 'drsu'
  %h3{ align: :center } Создать прогноз для ДРСУ
  = render partial: 'drsu_form'
  - when 'donbassgaz'
  %h3{ align: :center } Создать прогноз для Донбассгаз
  = render partial: 'donbassgaz_form'
  - when 'gsr'
  %h3{ align: :center } Создать прогноз для ГазСтройРеновации
  = render partial: 'gsr_form'
  - when 'empire'
  %h3{ align: :center } Создать прогноз для СК Империя
  = render partial: 'empire_form'
  - when 'radio'
  %h3{ align: :center } Создать бюллетень для радио
  = render partial: 'radio_form'
  - when 'radio2'
  %h3{ align: :center } Создать бюллетень для радио (вариант 2)
  = render partial: 'radio2_form'
  - when 'radiation'
  %h3{ align: :center } Создать бюллетень о радиационном фоне
  - when 'radiation2'
  %h3{ align: :center } Создать бюллетень о радиационном фоне (вариант 2)
  = render partial: 'radiation2_form'
  - when 'avtodor'
  %h3{ align: :center } Создать прогноз для АВТОДОРа
  = render partial: 'avtodor_form'
  - when 'storm'
  %h3{ align: :center } Создать штормовое предупреждение
  = render partial: 'storm_form'
  - when 'sea_storm'
  %h3{ align: :center } Создать морское штормовое предупреждение
  = render partial: 'storm_form'
  - when 'holiday'
  %h3{ align: :center } Создать бюллетень выходного дня
  = render partial: 'holiday_form'
  - when 'sea'
  %h3{ align: :center } Создать морской бюллетень
  = render partial: 'sea_form'
  - when 'daily'
  %h3{ align: :center } Создать ежедневный бюллетень
  = render partial: 'form'
  - when 'fire'
  %h3{ align: :center } Создать бюллетень пожарной опасности
  = render partial: 'fire_form'
  - when 'clarification'
  %h3{ align: :center } Создать уточнение
  = render partial: 'clarification_form'
  - when 'bus_station'
  %h3{ align: :center } Создать прогноз для Автовокзалов
  = render partial: 'bus_station_form'
  - when 'hydro'
  %h3{ align: :center } Создать гидрологический бюллетень (первичный)
  = render partial: 'hydro_form'
  - when 'hydro2'
  %h3{ align: :center } Создать гидрологический бюллетень (вторичный)
  = render partial: 'hydro2_form'
  - when 'alert'
  %h3{ align: :center } Создать штормовое оповещение (гидро)
  = render partial: 'alert_form'
  - when 'warning'
  %h3{ align: :center } Создать штормовое предупреждение (гидро)
  = render partial: 'alert_form'
  - when 'railway'
  %h3{ align: :center } Создать прогноз для Железной дороги
  = render partial: 'railway_form'
  - when 'rw_storm'
  %h3{ align: :center } Создать штормовое предупреждение для Железной дороги
  = render partial: 'storm_form'
  - when 'fire_storm'
  %h3{ align: :center } Создать штормовое предупреждение о пожаре
  = render partial: 'storm_form'
