- ip = Rails.env.production? ? "31.133.32.14" : "10.54.1.6"
.container
  %h3 Проверка подлинности документа
  %div{align: :center}= image_tag "logo2015_2.png", height:'50', width:'50'
  %p{align: :center, style: {font: :bold} } РОСГИДРОМЕТ
  %p{align: :center} Федеральное государственное бюджетное учреждение
  %p{align: :center} "Управление по гидрометеорологии и мониторингу окружающей среды по Донецкой Народной Республике"
  %p{align: :center} (ФГБУ "УГМС по ДНР")'
  -# %div{align: :center}= image_tag @png_filename_page1, :style => "border: 1px solid black"
  %table{class: "table table-bordered"}
    %tr
      %th Тип документа
      %td= Bulletin::BULLETIN_TYPES[@bulletin.bulletin_type] # Бюллетен
    %tr
      %th Дата документа
      %td= @bulletin.report_date.strftime("%Y-%m-%d")
    %tr
      %th Номер документа
      %td= @bulletin.curr_number
    %tr
      %th Получатель
      %td= @bulletin.storm
    %tr
      %th Описание
      %td= @bulletin.forecast_day_city
    %tr
      %th Исполнитель
      %td= @bulletin.responsible
    %tr
      %th Подписал
      %td= @bulletin.chief
    %tr
      - qr_png_path = Bulletin.generate_qr_code_png("http://#{ip}:8080/bulletins/#{@bulletin.id}/qr_check")
      - base64_image = Base64.strict_encode64(File.read(qr_png_path))
      %th QR-код
      %td= image_tag("data:image/png;base64,#{base64_image}")
  =link_to "Список", "/bulletins/list?bulletin_type=response1"