%div{ :class=>"container"}
  %ul{ :class=>"nav nav-tabs"}
    %li= link_to "Синоптические", synoptic_observations_path
    %li= link_to 'Штормовые', storm_observations_path
    %li= link_to 'Агро ежедневные', agro_observations_path
    %li= link_to 'Агро декадные', agro_dec_observations_path
    %li= link_to 'Радиация', radiation_observations_path
    %li= link_to 'Морские', sea_observations_path
    %li= link_to 'Гидро', hydro_observations_path
    %li= link_to 'Снегосъемка', snow_observations_path
