.container
  %h3 Задайте диапазон времени для переноса синоптических телеграмм из БД 'meteo'
  = form_for(:interval, url: synoptic_observations_converter_path) do |f| 
    = f.label "Начальная дата"
    = f.date_field :date_from, value: Time.now.strftime("%Y-%m-%d")

    = f.label "Конечная дата"
    = f.date_field :date_to, value: Time.now.strftime("%Y-%m-%d")

    = f.submit "Начать", class: "btn btn-primary"
  %br
  = link_to "Загрузить протокол", synoptic_observations_conversion_log_download_path, 'data-turbolinks' => "false"    