= @temperatures[12].inspect
= @start_date.inspect
= @stop_date.inspect
.container
  .row
    .col
      <p align="right">На Поручение Главы ДНР от 06.10.2020 № 01-33/815</p>
      -# <p align="right">К договору от #{@contract_date} № #{@contract_num}</p>
  %h3 Средняя за сутки (00:01-24:00) температура воздуха (°С) в #{@region} c #{@start_date.strftime('%d.%m.%Y')} 
  %table{class:'table table-hover'}
    %thead
      %tr
        %th Числа месяца
        - n=0
        -(@start_date..@stop_date).each do |d| 
          -n += 1
          %th #{d.day}
    %tbody
      - if @data_by_city.present?
        %tr
          %td <b>Температура</b>
          -(1..n).each do |i|
            - if @data_by_city[i].nil?
              %td
            - elsif @data_by_city[i] <= @threshold
              %td{style: "color: #ff0000"} <b> #{@data_by_city[i]}</b>
            - else
              %td #{@data_by_city[i]}
            -#%td #{@data_by_city[i].nil? ? '' : (@data_by_city[i] <= @threshold ? @data_by_city[i] : '-')}
            -#%td #{@data_by_city[i].present? && @data_by_city[i] <= @threshold ? @data_by_city[i] : '-'}
  -#%h4 Примечание: "-" - значения средней за сутки температуры воздуха выше +8°С
  %br
  - if @data_by_city.present? and @data_by_city[0].present?
    = link_to 'Распечатать', "temperatures_lower8.pdf?city=#{@city}&start_date=#{@start_date.strftime('%Y-%m-%d')}"
    
  -#root
  -#init-params{ temperatures: @temperatures.to_json, city: @city.to_json}
  -#= javascript_pack_tag 'heat_donbass/temperatures_lower8'