= render 'synoptic_observations/tabs'
.container
  %h3 Телеграммы о прибрежных наблюдениях SEA
  = will_paginate
  %table{ class: 'table table-hover' }
    %thead
      %tr
        %th Дата/срок наблюдения (UTC)
        %th Дата/время ввода (UTC)
        %th Метеостанция
        %th Телеграмма
    %tbody
      - name_stations = Station.name_stations_as_array
      - @sea_observations.each do |s_o|
        %tr
          %td= s_o.date_dev.strftime('%d-%m-%Y %H:%M')
          %td= s_o.created_at.strftime('%d-%m-%Y %H:%M:%S')
          %td= name_stations[s_o.station_id]
          %td= link_to s_o.telegram, sea_observation_path(s_o)
  = will_paginate
