.container
  %h3 Телеграмма о прибрежных наблюдениях МОРЕ
  %table{class: "table table-bordered"}
    %tr
      %th Дата ввода:
      %td= @sea_observation.created_at
    %tr
      %th Дата наблюдения:
      %td= @sea_observation.date_dev.strftime("%Y-%m-%d")
    %tr
      %th Текст:
      %td= @sea_observation.telegram
    %tr
      %th Метеостанция:
      %td= @sea_observation.station.name
    %tr
      %th Час наблюдения (время местное)
      %td= @sea_observation.term
  %h3 История операций
  %table{class: "table table-bordered"}
    %thead
      %tr
        %th Версия
        %th ID пользователя
        %th Операция
        %th Дата
    %tbody
    - @actions.each do |a|
      %tr
        %td= a.version
        %td= a.user.login
        %td= a.action
        %td= a.created_at
  -#= link_to 'Поиск', @search_link
  %br
  - if current_user.role == 'technicist'
    = link_to 'Ввод телеграмм', '/sea_observations/input_sea_telegrams?input_mode=normal'
    %br
    = link_to "Список", sea_observations_path  
  - elsif current_user.role == 'specialist'
    = link_to 'Возврат', '/sea_observations/input_sea_telegrams?input_mode=normal'
  - else
    = link_to "Список", sea_observations_path  