.container
  %h3 Телеграмма о гидрологических наблюдениях HHZZ
  %table{class: "table table-bordered"}
    %tr
      %th Дата ввода:
      %td= @hydro_observation.created_at
    %tr
      %th Дата наблюдения:
      %td= @hydro_observation.date_observation
    %tr
      %th Текст:
      %td= @hydro_observation.telegram
      - text = @hydro_observation.telegram
    %tr
      %th Пост:
      %td= @hydro_observation.hydro_post.town
    %tr
      %th День наблюдения
      %td= @hydro_observation.day_obs
    %tr
      %th Час наблюдения (время местное)
      %td= @hydro_observation.hour_obs
    - curr_pos = 18-6
    - if text[curr_pos] == '1'
      %tr
        %th Отметка уровня воды над нулем поста, см.
        %td= @hydro_observation.water_level(text[curr_pos+1,4].to_i)
      - curr_pos += 6
    - if text[curr_pos] == '2'
      %tr
        %th Изменение уровня воды, см.
        %td= @hydro_observation.change_level(text[curr_pos+1,3].to_i, text[curr_pos+4])
      - curr_pos += 6

  %br
  - if current_user.role == 'technicist'
    = link_to 'Ввод телеграмм', '/hydro_observations/input_hydro_telegrams?input_mode=normal'
    %br
    = link_to "Список", hydro_observations_path  
  - elsif current_user.role == 'specialist'
    = link_to 'Возврат', '/hydro_observations/input_hydro_telegrams?input_mode=normal'
  - else
    = link_to "Список", hydro_observations_path  
  - if (current_user.role == 'admin') or (current_user.role == 'technicist')
    %br
    = link_to 'Удалить', @hydro_observation, method: :delete, data: { confirm: 'Вы уверены?' }