= render 'synoptic_observations/tabs'
.container
  = render 'list'
  %h3 Дополнительные данные: #{OtherObservation::OTHER_TYPES[@factor]}
  = will_paginate
  %table{ class: 'table table-hover' }
    %thead
      %tr
        %th Дата наблюдения
        - if @factor == 'wind'
          %th Срок
        %th Дата ввода
        %th Станция/пост
        %th Значение
        - if @factor == 'perc'
          %th Комментарий
    %tbody
      -# name_posts = HydroPost.hydro_post_names_as_array
      - @other_observations.each do |o_o|
        %tr
          %td= o_o.obs_date.strftime('%d-%m-%Y') + (o_o.data_type == 'perc' ? (o_o.period == 'day' ? '/День' : '/Ночь') : '')
          - if @factor == 'wind'
            %td= o_o.period
          %td= o_o.created_at.localtime.strftime('%d-%m-%Y %H:%M:%S')
          %td= o_o.data_type == 'perc' ? o_o.source : Station.find(o_o.station_id).name
          %td= @factor == 'min_hum' ? o_o.value.round : o_o.value
          - if @factor == 'perc'
            %td= o_o.description
  = will_paginate
