.container
  <input id="union-submit" type="submit" value="Сохранить" form="union-form">
  = form_for @union_forecast, html: {id: "union-form"} do |form|
    %table{class: "table table-hover"}
      %tr
        %th Отчетная дата
        %td= form.date_field :report_date
      %tr
        %th Номер бюллетеня
        %td= form.text_field :curr_number
      %tr
        %th Краткая синоптическая ситуация
        %td= form.text_area :synoptic_situation, cols: "30", rows: "5"
      %tr
        %th Температура воды, давление
        %td= form.text_area :forecast_period, cols: "30", rows: "5"
      %tr
        %th Синоптик
        %td= form.select :synoptic, options_for_select(Bulletin.synoptic_list, @union_forecast.synoptic)
    -#= render partial: 'responsible' 20190718 КМА
    %table{class: "table table-hover"}
      %tr
        %th Города
        %th Температура воздуха ночью
        %th Температура воздуха днем
      - i = 0
      - Bulletin::RADIO_CITIES.each do |c|
        %tr
          %td #{c}
          %td= text_field_tag "val_#{i*2+1}", m_d[i*2].present? ? m_d[i*2] : '', size: 4
          %td= text_field_tag "val_#{i*2+2}", m_d[i*2+1].present? ? m_d[i*2+1] : '', size: 4
          - i += 1
    = render partial: 'chief'
    %br
= link_to "Список", union_forecasts_path