.container
  %h3 Телеграмма штормовая
  %table{class: "table table-bordered"}
    %tr
      %th Дата ввода:
      %td= @storm_observation.created_at
    %tr
      %th Дата явления:
      %td= @storm_observation.telegram_date
    - text = @storm_observation.telegram
    %tr
      %th Текст:
      %td= text
    %tr
      %th Тип телеграммы
      %td= @storm_observation.telegram_type == 'ЩЭОЗМ' ? 'Окончание явления (ЩЭОЗМ)' : 'Начало/усиление явления (ЩЭОЯЮ)'
    %tr
      %th Метеостанция:
      %td= @storm_observation.station.name
    %tr
      %th День месяца
      %td= @storm_observation.day_event
    %tr
      %th Время
      %td= @storm_observation.event_time
    %tr
      %th Вид телеграммы
      %td Для метеорологических явлений
    %tr
      %th= "Тип опасного/стихийного гидрометеорологического явления"
      %td= @storm_observation.code_warep_to_s(@storm_observation.code_warep)
    - curr_pos = 29
    - case @storm_observation.code_warep
      - when 11, 12, 17, 18, 19, 36, 78
        %tr
          %th Направление ветра
          %td= @storm_observation.wind_direction_to_s(text[curr_pos+1,2].to_i)
        %tr
          %th Средняя скорость ветра, м/с
          %td= text[curr_pos+3,2].to_i
        %tr
          %th Максимальная скорость ветра (порыв), м/с
          %td= text[curr_pos+5,2].to_i
      - when 40, 41
        - if text[curr_pos] == '7'
          %tr
            %th Метеорологическая дальность видимости, м
            %td= text[curr_pos+1,2].to_i*100
          %tr
            %th Вид явления
            %td= @storm_observation.weather_in_term(text[curr_pos+3,2].to_i)
          - if text[curr_pos+5] != '/'
            %tr
              %th Продолжительность явления в часах
              %td= text[curr_pos+5,2]
      - when 91
        - if text[curr_pos] == '2'
          %tr
            %th Направление, в котором наблюдается гроза или смерч
            %td= @storm_observation.wind_direction_to_s(text[curr_pos+1,2].to_i)
          %tr
            %th Вид осадков
            %td= @storm_observation.precipitation_type(text[curr_pos+3,2].to_i)
  %h3 История операций
  %table{class: "table table-bordered"}
    %thead
      %tr
        %th Версия
        %th ID пользователя
        %th Операция
        %th Дата
    %tbody
    - @actions.each do |a|
      %tr
        %td= a.version
        %td= a.user.login
        %td= a.action
        %td= a.created_at
  = link_to 'Поиск', @search_link
  %br
  - if current_user.role == 'technicist'
    = link_to 'Ввод телеграмм', '/storm_observations/input_storm_telegrams?input_mode=normal'
    %br
    = link_to "Список", storm_observations_path  
  - elsif current_user.role == 'specialist'
    = link_to 'Возврат', '/storm_observations/input_storm_telegrams?input_mode=normal'
  - else
    = link_to "Список", storm_observations_path  