.row
  %div{ class: "col-md-6 col-md-offset-3"}
    = form_for @wmo_station do |f|
      = f.label "Код "+ @wmo_station.code.to_s
      %br
      = f.label "Название"
      = f.text_field :name
      
      = f.label "Страна"
      = f.text_field :country
      
      = f.label "Широта"
      = f.number_field :latitude
      
      = f.label "Долгота"
      = f.number_field :longitude
      
      = f.label "Высота"
      = f.number_field :altitude
      
      = f.label "Активна?"
      = f.check_box :is_active
  
      = f.label "Активна?(1:2500)"
      = f.check_box :is_active_2500
  
      = f.label "Активна?(1:5000)"
      = f.check_box :is_active_5000
  
      = f.submit "Сохранить", class: "btn btn-primary"
    
    %br  
    = link_to "Список", wmo_stations_path            