<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Бюллетени <b class='caret'></b></a>
%ul{ class: 'dropdown-menu' }
  -# %li= link_to 'Бюллетени ежедневные', '/bulletins/list?bulletin_type=daily'
  %li= link_to 'Бюллетени ежедневные', '/bulletins/list?bulletin_type=daily2'
  %li= link_to 'Штормовые предупреждения', '/bulletins/list?bulletin_type=storm'
  %li= link_to 'Уточнения', '/bulletins/list?bulletin_type=clarification'
  %li= link_to 'Радиация 2', '/bulletins/list?bulletin_type=radiation2'
  -# %li= link_to 'Радио 2', '/bulletins/list?bulletin_type=radio2'
  %li= link_to 'Радио', '/bulletins/list?bulletin_type=radio_csdn'
  %li= link_to 'Автодор', '/bulletins/list?bulletin_type=autodor'
  %li= link_to 'Автодор предупреждение', '/bulletins/list?bulletin_type=autodor_warning'
  %li= link_to 'ДТЭК', '/bulletins/list?bulletin_type=dte_csdn'
  %li= link_to 'Пожароопасность', '/bulletins/list?bulletin_type=fire'
  %li= link_to 'Справки', '/bulletins/list?bulletin_type=inquiry'
  
