<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Бюллетени <b class='caret'></b></a>
%ul{ class: 'dropdown-menu' }
  %li= link_to 'Бюллетени ежедневные', '/bulletins/list?bulletin_type=daily'
  %li= link_to 'Бюллетени морские', '/bulletins/list?bulletin_type=sea'
  %li= link_to 'Бюллетени выходного дня',
    '/bulletins/list?bulletin_type=holiday'
  %li= link_to 'Бюллетени гидрологические',
    '/bulletins/list?bulletin_type=hydro'
  %li= link_to 'Бюллетени гидрологические 2',
    '/bulletins/list?bulletin_type=hydro2'
  %li= link_to 'Штормовые предупреждения', '/bulletins/list?bulletin_type=storm'
  %li= link_to 'Шторма на море', '/bulletins/list?bulletin_type=sea_storm'
  %li= link_to 'Радиация', '/bulletins/list?bulletin_type=radiation'
  %li= link_to 'АВТОДОР', '/bulletins/list?bulletin_type=avtodor'
  %li= link_to 'Радио', '/bulletins/list?bulletin_type=radio'
  %li= link_to 'ДТЭ', '/bulletins/list?bulletin_type=dte'
  %li= link_to 'Пожароопасность', '/bulletins/list?bulletin_type=fire'
  %li= link_to 'Уточнения', '/bulletins/list?bulletin_type=clarification'
  %li= link_to 'Автовокзалы', '/bulletins/list?bulletin_type=bus_station'
  %li= link_to 'Оповещения (гидро)', '/bulletins/list?bulletin_type=alert'
  %li= link_to 'Предупреждения (гидро)', '/bulletins/list?bulletin_type=warning'
  %li= link_to 'Железная дорога', '/bulletins/list?bulletin_type=railway'
  %li= link_to 'Шторма для ЖД', '/bulletins/list?bulletin_type=rw_storm'
  -# - if current_user.role == 'synoptic'
    -# %li{ class: 'divider'}
    -# %li= link_to 'Текущие бюллетени', bulletins_latest_bulletins_path
