<a href="#" class="dropdown-toggle" data-toggle="dropdown">Прогнозы <b class="caret"></b></a>
%ul{class: "dropdown-menu"}
  %li= link_to 'Укр.ГМЦ', 'http://www.meteo.gov.ua/'
  %li= link_to 'Foreca', 'https://www.foreca.ru/Ukraine/Donets'
  %li= link_to 'Weer', 'http://www.weer.nl/verwachting/oekraine/donetsk/181543900/'
  %li= link_to 'Rp 5', 'http://rp5.ua/Погода_в_Донецке,_Украина'
  %li= link_to 'Земля', 'http://earth.nullschool.net'
	

