%li= link_to 'Телеграммы синоптические', synoptic_observations_path
%li= link_to 'Телеграммы штормовые', storm_observations_path
%li= link_to 'Ежедневные агрометеорологические телеграммы', agro_observations_path
%li= link_to 'Декадные агрометеорологические телеграммы', agro_dec_observations_path
%li= link_to 'Телеграммы о радиационной обстановке', radiation_observations_path
%li= link_to 'Телеграммы о прибрежных наблюдениях МОРЕ', sea_observations_path
%li= link_to 'Телеграммы о гидрологических наблюдениях', hydro_observations_path