%li= link_to 'Текущие штормовые телеграммы', storm_observations_latest_storms_path
%li{ class: "divider"}
%li= link_to 'Телеграммы синоптические', synoptic_observations_path
%li= link_to 'Телеграммы штормовые', storm_observations_path
%li= link_to 'Ежедневные агрометеорологические телеграммы', agro_observations_path
%li= link_to 'Декадные агрометеорологические телеграммы', agro_dec_observations_path
%li= link_to 'Телеграммы о радиационной обстановке', '/radiation_observations?factor=daily'
%li= link_to 'Телеграммы о прибрежных наблюдениях МОРЕ', sea_observations_path
%li= link_to 'Телеграммы о гидрологических наблюдениях', hydro_observations_path
%li= link_to 'Телеграммы о снегомерных съемках', snow_observations_path
%li= link_to 'Дополнительные данные', '/other_observations?factor=temp'
%li= link_to '"Старые" агротелеграммы', old_agro_telegrams_path