<a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
%ul{class: "dropdown-menu"}
  -# %li= link_to 'Тепло Донбасса',  synoptic_observations_heat_donbass_show_path
  %li= link_to 'Средняя температура за сутки', synoptic_observations_daily_avg_temp_path
  %li= link_to 'Средняя температура за месяц', synoptic_observations_month_avg_temp_path
  %li= link_to 'Осадки', other_observations_monthly_precipitation_path
  %li= link_to 'Температура на 8 часов', '/other_observations/monthly_temperatures?variant=temp'
  %li= link_to 'Температура на 16 часов', '/other_observations/monthly_temperatures?variant=temp16'
  %li= link_to 'Донбасстеплоэнерго', synoptic_observations_teploenergo_path
  %li= link_to 'Торгово-промышленная палата', synoptic_observations_tpp_path
  -# %li= link_to 'Энергия Донбасса', synoptic_observations_energy_path
  -# %li= link_to 'Медуниверситет', synoptic_observations_dnmu_path
  -# %li= link_to 'Донснаб', synoptic_observations_donsnab_path
  %li= link_to 'ЮНИОН', union_forecasts_path
  %li{ class: "divider"}
  %li= link_to 'Тельмановский район. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Тельманово'
  %li= link_to 'Старобешевский район. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Старобешево'
  %li= link_to 'Амвросиевский район. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Амвросиевка'
  %li= link_to 'г. Докучаевск. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Докучаевск'
  %li= link_to 'г. Шахтерск. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Шахтерск'
  %li= link_to 'г. Кировское. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Кировское'
  %li= link_to 'г. Горловка. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Горловка'
  %li= link_to 'г. Енакиево. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Енакиево'
  %li= link_to 'г. Харцызск. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Харцызск'
  %li= link_to 'г. Ясиноватая. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Ясиноватая'
  %li= link_to 'г. Торез. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Торез'
  %li= link_to 'г. Новоазовск. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Новоазовск'
  %li= link_to 'г. Дебальцево. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Дебальцево'
  %li= link_to 'г. Снежное. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Снежное'
  %li= link_to 'г. Зугрэс. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Зугрэс'
  %li{ class: "divider"}
  %li= link_to 'Пожароопасность (график)', synoptic_observations_fire_path
  -# %li= link_to 'Список значений ПО', fire_dangers_path
  %li= link_to 'Пожароопасность на дату (карта)', fire_dangers_daily_fire_danger_path
  %li{ class: "divider"}
  %li= link_to 'Агро-метео данные (холодный период)',  '/agro_dec_observations/agro_meteo_data?period=cold'
  %li= link_to 'Агро-метео данные (теплый период)',  '/agro_dec_observations/agro_meteo_data?period=warm'
  %li= link_to 'Данные из ежедневных агротелеграмм', '/agro_observations/agro_month_data'
