<a href="#" class="dropdown-toggle" data-toggle="dropdown">GFS Model <b class="caret"></b></a>
%ul{class: "dropdown-menu"}
  %li= link_to 'GFS АТ-200', 'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel5&nplts=41'
  %li= link_to 'GFS АТ-500', 'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel1&nplts=41' 
  %li= link_to 'GFS Вертикальные токи', 'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel3&nplts=41'
  %li= link_to 'GFS Индекс lifted',	'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel8&nplts=41'
  %li= link_to 'GFS Конвекция',	'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel7&nplts=41'
  %li= link_to 'GFS Облачность',	'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel10&nplts=41'
  %li= link_to 'GFS Осадки',	'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel2&nplts=41'
  %li= link_to 'GFS Температура на 850',	'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel4&nplts=41'
  %li= link_to 'GFS Температура, влажность, ветер',	'https://ready.arl.noaa.gov/ready2-bin/jmovie.pl?id=GFS&mdl=grads/gfs/europe&file=panel6&nplts=41'