<a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
%ul{class: "dropdown-menu"}
  -# %li= link_to 'Тепло Донбасса',  synoptic_observations_heat_donbass_show_path
  %li= link_to 'Средняя температура за сутки', synoptic_observations_daily_avg_temp_path
  %li= link_to 'Средняя температура за месяц', synoptic_observations_month_avg_temp_path
  %li= link_to 'Донбасстеплоэнерго', synoptic_observations_teploenergo_path
  %li= link_to 'Торгово-промышленная палата', synoptic_observations_tpp_path
  %li= link_to 'Энергия Донбасса', synoptic_observations_energy_path
  %li{ class: "divider"}
  %li= link_to 'Пожароопасность (график)', synoptic_observations_fire_path
  -# %li= link_to 'Список значений ПО', fire_dangers_path
  %li= link_to 'Пожароопасность на дату (карта)', fire_dangers_daily_fire_danger_path
  %li{ class: "divider"}
  %li= link_to 'Агро-метео данные (холодный период)',  '/agro_dec_observations/agro_meteo_data?period=cold'
  %li= link_to 'Агро-метео данные (теплый период)',  '/agro_dec_observations/agro_meteo_data?period=warm'
  %li= link_to 'Данные из ежедневных агротелеграмм', '/agro_observations/agro_month_data'
  