<a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
%ul{class: "dropdown-menu"}
  %li= link_to 'Тепло Донбасса',  synoptic_observations_heat_donbass_show_path
  %li= link_to 'Бюллетени ежедневные', "/bulletins/list?bulletin_type=daily"
  %li= link_to 'Бюллетени морские', "/bulletins/list?bulletin_type=sea"
  %li= link_to 'Бюллетени выходного дня', "/bulletins/list?bulletin_type=holiday"
  %li= link_to 'Штормовые предупреждения', "/bulletins/list?bulletin_type=storm"
  %li= link_to 'Шторма на море', "/bulletins/list?bulletin_type=sea_storm"
  %li= link_to 'Радиация', "/bulletins/list?bulletin_type=radiation"
  %li= link_to 'АВТОДОР', "/bulletins/list?bulletin_type=avtodor"
  %li= link_to 'Теплоэнерго', synoptic_observations_teploenergo_path
  %li= link_to 'Радио', "/bulletins/list?bulletin_type=radio"
  %li= link_to 'Средняя температура', synoptic_observations_daily_avg_temp_path