<a href="#" class="dropdown-toggle" data-toggle="dropdown">T <= 8 <b class="caret"></b></a>
%ul{class: "dropdown-menu"}
  %li= link_to 'Тельмановский район. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Тельманово'
  %li= link_to 'Старобешевский район. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Старобешево'
  %li= link_to 'Амвросиевский район. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Амвросиевка'
  %li= link_to 'г. Докучаевск. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Докучаевск'
  %li= link_to 'г. Шахтерск. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Шахтерск'
  %li= link_to 'г. Кировское. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Кировское'
  %li= link_to 'г. Горловка. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Горловка'
  %li= link_to 'г. Енакиево. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Енакиево'
  %li= link_to 'г. Харцызск. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Харцызск'
  %li= link_to 'г. Ясиноватая. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Ясиноватая'
  %li= link_to 'г. Торез. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Торез'
  %li= link_to 'Новоазовский район. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Новоазовск'
  %li= link_to 'г. Дебальцево. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Дебальцево'
  %li= link_to 'г. Снежное. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Снежное'
  %li= link_to 'г. Зугрэс. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Зугрэс'
  %li= link_to 'г. Донецк. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Донецк'
  %li= link_to 'г. Макеевка. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Макеевка'
  %li= link_to 'г. Ждановка. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Ждановка'
  %li= link_to 'г. Иловайск. Среднесуточная температура <= 8°С', '/synoptic_observations/temperatures_lower8?city=Иловайск'